<div class="container text-center">
	<h1 class="h1 mb-4 font-weight-normal"><b>SEEK</b> | Login</h1>
	<form [formGroup]="loginForm" class="form-signin" >
		<label for="inputEmail" class="sr-only">
			Email address
		</label>
		<input type="email" formControlName="email" class="form-control" placeholder="Email address" required autofocus>

		<label for="inputPassword" class="sr-only">
			Password
		</label>
		<input type="password" formControlName="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid" (click)="login()">Sign in</button>
	</form>
</div>