<app-header></app-header>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Products</h1>
  <p class="lead">We want to offer different products to recruiters:</p>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div *ngFor="let product of products" class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$ {{product.price}} <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{product.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>